footer{
	border-top: 3px solid darken(@brand-info,10%);
	font-family: @font-mitra;
	&.main-footer{
		position: inherit;
		bottom: 0;
		background: darken(@brand-primary,10%);
		color: #eee;
		width: 100%;
	& p{
		text-align: center;
		margin: 1em auto;
		}
	}
}
